<section class="phx-hero primary-border ">
  <h1 class="title is-1"><%= gettext "Welcome to %{name}!", name: "Donezo" %></h1>
  <p class="subtitle is-3">Tracking tasks made easy</p>
</section>


<section>
  <a href="/users/log_in" class="button is-link is-light has-text-primary">Get Started</a>
  </section>
